{% extends "base.html" %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-10">
            <div class="card bg-light">
                <div class="card-body">
                    <h3 class="text-bold">What is Journal-Rank?</h3>
                    <p><span class="text-black">
                        Journal-Rank is a place for readers/authors of academic journals to publish opinion based reviews
                        of the journals they read/submit to. There are many measures of journal ranking via analysis of metrics like citation/
                        publication count etc., but as far as I can tell no place for users to submit opinion based reviews so I made Journal-Rank to address that.
                    </span></p>
                    <h3 class="text-bold">Where did the journal table come from?</h3>
                    <p><span class="text-black">
                        The database of journals used in this project was built using information from the following resource:
                    </span></p>
                     <p><span class="text-black">
                        SCImago, (n.d.). SJR — SCImago Journal & Country Rank [Portal]. Retrieved 12/14/18 , from <a href="http://www.scimagojr.com">http://www.scimagojr.com</a>
                    </span></p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}