{% extends "base.html" %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-10">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <p class="lead"><span class="text-black text-bold">
                        The database of journals used in this project was built using information from the following resource:
                    </span></p>
                     <p class="lead"><span class="text-black">
                        SCImago, (n.d.). SJR — SCImago Journal & Country Rank [Portal]. Retrieved 12/14/18 , from <a href="http://www.scimagojr.com">http://www.scimagojr.com</a>
                    </span></p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}