{% extends "base.html" %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-10">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <p class="lead"><span class="text-black text-bold">
                        Having a problem? Have a question?
                    </span></p>
                     <p class="lead"><span class="text-black">
                        Send me an email at <a href = "mailto: brett.vanderwerff@gmail.com">brett.vanderwerff@gmail.com</a>
                    </span></p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}