{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col sm-12 mb-3 mt-3">
            <div class="card pt-3 pb-3 pl-1 pr-1">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive-sm">
                            <table id="example" class="display" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Journal</th>
                                    <th>Country</th>
                                    <th>Publisher</th>
                                    <th>Rating</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Journal</th>
                                    <th>Country</th>
                                    <th>Publisher</th>
                                    <th>Rating</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}