{% extends "base.html" %}
{% from "render_field.html" import render_field, render_radio_fields %}
{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-7">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <form action="" method="post" role="form" novalidate>
                        {{ form.csrf_token }}
                        <h3 class="text-center mb-4">Submit Review For:</h3>
                        <h3 class="text-center mb-4">{{ journal_name }}</h3>
                        <fieldset>
                            {{ render_radio_fields(form.rating) }}
                            {{ render_field(form.text, class="form-control z-depth-1", rows="3") }}
                            <div class="mb-2">
                                {{ form.recaptcha }}
                            </div>
                            {{ form.submit(type="submit", class="btn btn-lg btn-primary btn-block",
                            value=form.submit.label.text)|safe }}
                            {% if error %}
                            <div class="alert alert-danger">
                                <strong>Error: </strong> {{ error }}
                            </div>
                            {% endif %}
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}