{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-sm-4">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="text-black"><a href="mailto: {{ user_email }}">{{ user_email }}</a></h5>
                        <img src="{{ profile_pic_url}}"
                             class="avatar img-circle img-thumbnail" alt="avatar" width="200" height="200">
                        {% if is_current_user %}
                        <h6 class="mb-2 mt-2">Upload a different avatar pic...</h6>
                        <form action="" method="post" role="form" enctype="multipart/form-data" novalidate>
                            {{ form.csrf_token }}
                            <div class="mb-3">
                                {{ form.picture() }}
                            </div>
                            <div>
                                {{ form.submit() }}
                            </div>
                        </form>
                        {% if error %}
                        <div class="alert alert-danger">
                            <strong>Error: </strong> {{ error }}
                        </div>
                        {% endif %}
                        </hr><br>
                        {% endif %}

                        <ul class="list-group">
                            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                            <li class="list-group-item text-right"><span
                                    class="pull-left"><strong>Reviews</strong></span> {{ number_reviews }}
                            </li>
                        </ul>

                    </div>
                </div>
            </div><!--/col-3-->
        </div>
        <div class="col-sm-8">
            <div class="card bg-light text-center">
                <div class="card-body">
                {% if is_current_user %}
                {% if user_reviews %}
                <h1 class="text-black">My Reviews:</h1>
                {% else %}
                <h1 class="text-black">You have not submitted any reviews yet</h1>
                {% endif %}
                {% else %}
                {% if user_reviews %}
                <h1 class="text-black">User Reviews:</h1>
                {% else %}
                <h1 class="text-black">User has not submitted any reviews yet</h1>
                {% endif %}
                {% endif %}
            </div>
            </div>
            {% if user_reviews %}
            {% for journal, user, review, edit_button_id in user_reviews %}
            <div class="row justify-content-center mt-3">
                <div class="col-sm-12">
                    <div class="card bg-light">
                        <div class="card-body">
                            <div class="'row">
                                <div class="col-sm-12 text-center">
                                    <a href="/journal_info/{{ journal.title | replace(' ', '_') }}">{{
                                        journal.title}}</a>
                                    <hr/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <img src="{{ user.profile_pic }}"
                                         class="img-rounded" width="60" height="60">
                                    <div class="review-block-name"><a href="/user_profile/{{ user.id }}">{{ user.email
                                        }}</a></div>
                                    <div class="review-block-date">{{ review.time_stamp.year }}-{{
                                        review.time_stamp.month }}-{{ review.time_stamp.day }}
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="review-block-rate">
                                        <div class="review-block-rate">
                                            <div style="font-size: 30px;">
                                                {% for x in range(review.review_rating) %}
                                                <span class="fa fa-star"></span>
                                                {% endfor %}
                                                {% for x in range(5 - review.review_rating) %}
                                                <span class="fa fa-star-o"></span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% if review.review_text == '' %}
                                        <div class="review-block-description">
                                            <p class="font-italic">no review text provided</p>
                                        </div>
                                        {% else %}
                                        <div class="review-block-description">
                                            {{ review.review_text }}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if edit_button_id %}
                                <div class="mt-1">
                                    <button class="btn btn-info" id="{{ edit_button_id }}"
                                            onclick="redirect(this.id, 'edit_review', 'user_profile')">Edit
                                    </button>
                                </div>
                                {% endif %}

                            </div>
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}